@model Book_Shop.Models.Book

<div class="container mt-4">
    <h2 class="mb-3">Kitabı Yenilə</h2>

    <form asp-action="Edit" method="post" class="needs-validation">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label asp-for="Title" class="form-label">Kitab adı</label>
            <input asp-for="Title" class="form-control" placeholder="Kitab adı" />
        </div>

        <div class="mb-3">
            <label asp-for="Author" class="form-label">Müəllif</label>
            <input asp-for="Author" class="form-control" placeholder="Müəllif" />
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Müəllif</label>
            <input asp-for="Price" class="form-control" placeholder="Qiymət(AZN)" />
        </div>

        <button type="submit" class="btn btn-warning">Yenilə</button>
        <a asp-action="Index" class="btn btn-secondary">Geri</a>
    </form>
</div>