html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.navbar .nav-link {
    color: yellow !important;
    font-weight: 500;
}

.navbar {
    background-color: brown !important;
}

    .navbar .nav-link:hover {
        color: orange !important;
    }

    .navbar .nav-link.active {
        color: orange !important;
        font-weight: bold;
    }

    .navbar .navbar-brand {
        color: orange !important;
        font-weight: bold;
    }

.footer a {
    color: black;
}

    .footer a:hover {
        color: orange;
    }

body {
    background-color: lightgray;
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.btn-small-custom {
    font-size: 12px;
    padding: 3px 8px;
}
